# virtual environments
venv/
.venv/
.env/          # if you use virtualenvwrapper
conda-env/     # if you use a custom conda path
.logs
logs/

# python caches
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# macOS
.DS_Store

# Python packaging artifacts
*.egg-info/
*.egg
dist/
build/
.eggs/
*catboost_info/

# VSCode
.vscode/
